*{

box-sizing:border-box;

font-family:
'Segoe UI',
Arial;

}



body{


margin:0;

background:
linear-gradient(
135deg,
#d8f3dc,
#ffffff
);


min-height:100vh;


}



.container{


max-width:800px;

margin:auto;

padding:30px;


}



header{


text-align:center;

margin-bottom:25px;


}


header h1{


font-size:45px;

color:#2d6a4f;


}


header p{

color:#555;

}



.card{


background:white;

padding:25px;

border-radius:20px;


box-shadow:
0 10px 30px rgba(0,0,0,.1);


margin-bottom:25px;


}



.grid{


display:grid;

grid-template-columns:
repeat(2,1fr);

gap:15px;


}



input,
select{


width:100%;

padding:14px;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;


}



button{


width:100%;

margin-top:25px;

padding:15px;


background:#2d6a4f;


color:white;


border:none;


border-radius:15px;


font-size:18px;


cursor:pointer;


}



button:hover{


background:#1b4332;


}



.result{


text-align:center;


}



.food{


font-size:28px;

color:#2d6a4f;


font-weight:bold;


}



.tag{


background:#d8f3dc;

padding:8px;

border-radius:20px;

display:inline-block;

margin:5px;


}



@media(max-width:600px){


.grid{

grid-template-columns:1fr;

}


}